@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', serif;
    /*outline: 1px dotted red;*/
}

@font-face {
    font-family: 'Qwitcher Grypen';
    src: url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap') format('woff2');
    /* You might need to adjust the path to your font file */
    font-style: normal; /* Use 'normal' for regular style */
    font-weight: 700; /* Use the appropriate font weight value */
}

.logo-text{
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 75px;
}

#lodes{
    position: relative;
    font-size: 12px;
    bottom: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFF7;
    padding: 10px 20px;
    height: 10vh;
    font-size: 18px;
    box-shadow: 0px 6px 8px grey;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFF7;
    padding: 10px 20px;
    height: 10vh;
    font-size: 18px;
    box-shadow: 0px 6px 8px grey;
}

.logo-container a{
    display: flex;
    align-items: center;
}

.navbar-logo{
    width: 150px;
    height: 45px;
    margin-right: 1rem;
    border: 2px solid #0056b3;
    border-radius: 15px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navdes a{
    position: relative;
    top: 8.5px;
    right: 13px;
    margin-left: 50px;
    padding: 0;
}

#navdes2 a{
    position: relative;
    top: 8.5px;
    right: 280px;
    margin-left: 50px;
    padding: 0;
}

#navdes3 a{
    position: relative;
    top: 8.5px;
    right: 60px;
    margin-left: 30px;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.nav-links a:hover{
    text-decoration: underline;
    color: #0056b3;
    font-weight: bolder;
}

.nav-toggle {
    display: none;
}

.user-auth {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
}

.login-button{
    padding: 5px 20px;
    border: none;
    background-color: #FFFFF7;
    color: #001F3F;
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
    height: 35px;
}

.login-button:hover{
    text-decoration: underline;
    color: #0056b3;
}

.signup-button {
    padding: 5px 20px;
    border-radius: 17px;
    background-color: #001F3F;
    color: #FFFFF7;
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
    height: 35px;
}

.signup-button:hover {
    background-color: #0056b3;
}

#imgdes{
    position: absolute;
    width: 40px;
    height: 20px;
    top: 30px;
    left: 10px;
}

#movedes{
    display: flex;
    margin-left: 220px;
    color: #020461;
    font-weight: bolder;
    top: 10px;
}

#movedes2{
    display: flex;
    margin-left: 248px;
    color: #020461;
    font-weight: bolder;
    top: 10px;
}

.rowdes{
    align-items: center;
}

.py-4{
    background-color: #001F3F;
    color: #D4AF37;
    height: 30vh;
}

.sitemapdes a{
    text-decoration: none;
    color: #FFFFF7;
}

.sitemapdes a:hover{
    color: #0056b3;
}

.list-inline a:hover{
    color: #0056b3;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 25%;
    background-image: url('../images/logo1.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    z-index: 1;
    border-radius: 17px;
}

.text {
    position: relative;
    bottom: 150px;
    font-weight: bold;
    color: #D4AF37;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}


#herodes{
    filter: hue-rotate(180deg);
    opacity: 0.6;
    margin-top: 10px;
    height: 576px;
    box-shadow: 0px 6px 8px grey;
}

.unades{
    background-color: #FFFFF7;
    color: #020461;
    margin-left: 60px;
    font-weight: bolder;
    text-decoration: underline;
    box-shadow: 0px 6px 8px grey;
}

.ikaduhades{
    background-color: #FFFFF7; 
    margin-left: 50px;
    font-weight: bolder;
    justify-items: start; 
    text-decoration: underline;
    box-shadow: 0px 6px 8px grey;
}

.list-inline{
    display: flex;
    gap: 0.5rem;
}

.list-inline-item a{
    color: #FFFFF7;
}

.text-center a{
    color: #FFFFF7;
}

#btndes{
    position: relative;
    bottom: 150px;
    background-color: #001F3F;
    color: #FFFFF7;
    font-weight: bolder;
    box-shadow: 0px 6px 8px grey;
}

#btndes:hover{
    background-color: #0056b3;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 576px;
    margin-top: 10px;
    background: rgb(3,4,94);
    background: linear-gradient(180deg, rgba(3,4,94,1) 0%, rgba(0,180,216,1) 50%, rgba(202,240,248,1) 100%);;
}
  
.login-form {
    background-color: #CAF0F8;
    border-radius: 10px;
    box-shadow: 0px 6px 8px grey;
    padding: 20px;
    text-align: center;
    width: 300px;
}
  
.login-form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}
  
.login-form button {
    background-color: #001F3F;
    color: #FFFFF7;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
}
  
.login-form button:hover {
    background-color: #0056b3;
}
  
.forgot-password-link{
    position: relative;
    text-decoration: underline;
    right: 4px;
}

.login-form-buttons {
    display: flex;
    align-items: center;
}
  
.forgot-password-link {
    margin-left: 10px;
    cursor: pointer;
    color: #0056b3;
    text-decoration: underline;
}
  
.forgot-password-link:hover {
    color: #020461;
}
  
.blog-component {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #CAF0F8;
    border-radius: 8px;
    box-shadow: 0px 6px 8px grey;
}
  
.post-form input,
.post-form textarea a{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px grey;
    border-radius: 4px;
}
  
.post-form button {
    background-color: #001F3F;
    color: #FFFFF7;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bolder;
}

.post-form button:hover{
    background-color: #0056b3;
}

.post-list {
    margin-top: 20px;
}
  
.post {
    background-color: #FFFFF7;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 6px 8px grey;
}

.post-content {
    min-width: 400px;
    word-wrap: break-word;
    text-align: justify;
}
  
.timestamp {
    font-size: 12px;
    color: #020461;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 10px;
    background: rgb(3,4,94);
    background: linear-gradient(180deg, rgba(3,4,94,1) 0%, rgba(0,180,216,1) 50%, rgba(202,240,248,1) 100%);
}

.blogdes{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 576px;
    padding: 25px;
}

.regdes{
    display: flex;
    margin-top: 10px;
    min-height: 576px;
    width: 100vw;
    padding: 20px;
    background: rgb(3,4,94);
    background: linear-gradient(180deg, rgba(3,4,94,1) 0%, rgba(0,180,216,1) 50%, rgba(202,240,248,1) 100%);
}

.registration-form {
    background-color: #CAF0F8;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 6px 8px grey;
    min-height: 71vh;
    height: 100%;
}
  
.registration-title {
    margin-bottom: 20px;
    text-align: center;
}

.groupdes {
    margin-top: 10px;
}

#newdes {
    background-color: #001F3F;
    color: #FFFFF7;
    font-weight: bolder;
    border: none;
}

#newdes:hover{
    background-color: #0056b3;
}
  
.cart-container {
    background-color: #CAF0F8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 6px 8px grey;
}
  
.cart-title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}
  
.cart-list {
    list-style-type: none;
    padding: 0;
}
  
.add-to-cart-button {
    margin-top: 10px;
}

.cart-dropdown {
    background-color: #FFFFF7;
    border: 2px;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    box-shadow: 0px 6px 8px grey;
}

.cart-items-dropdown {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding:5px
}

#cart-dropdown-toggle{
    text-decoration: none;
}
  
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.item-details {
    flex-grow: 1;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-weight: bold;
    border-top: 2px solid #001F3F;
}

.total-amount {
    text-align: right;
}

.available-items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}
  
.item-card {
    background-color: #FFFFF7;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 6px 8px grey;
    text-align: center;
}

.remove-button {
    background-color: red;
    color: #FFFFF7;
    border: none;
    padding: 5px 10px;
    font-weight: bolder;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-10%, 10%);
}

.add-to-cart-button {
    background-color: #001F3F;
    color: #FFFFF7;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.add-to-cart-button:hover {
    background-color: #0056b3;
    opacity: .75;
}

.dropdes{
    display: flex;
    left: 255px;
    bottom: 1560px;
}

.cart-container.custom-cart-container {
    padding-top: 20px;
    text-align: start;
}

.adjustdes {
    margin-top: 50px;
}

.item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-menu {
    border: 2px solid #001F3F; 
    border-radius: 8px;
    box-shadow: none;
}
  
.dropdown-header {
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.custom-cart-container .dropdown-toggle .badge {
    font-size: 1rem; 
}
  
.about-us-container {
    background-color: #CAF0F8;
    border-radius: 10px;
    box-shadow: 0px 6px 8px grey;
    padding: 20px;
    text-align: center;
    width: 800px;
}

.about-us-title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bolder;
}
  
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.description-container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
.about-us-description {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
}
  
.emphasized-text {
    font-weight: bold;
}
  
.image-container1 {
    display: flex;
    flex: 1;
    margin-top: 65px;
    text-align: center;
    align-items: center;
}
  
.image-container1 img {
    max-width: 100%;
    height: auto;
}

.blog-component {
    font-family: Arial, sans-serif;
}
  
.post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}
  
.reply {
    margin-left: 20px;
}
  
.smaller-text {
    font-size: 12px;
}
  

.reply-form {
    margin-top: 10px;
}
  
.reply-form input[type="text"],
.reply-form button {
    margin-right: 10px;
}
  
.reply-form button {
    padding: 5px 10px;
    background-color: #001F3F;
    color: white;
    border: none;
    cursor: pointer;
}
  
.reply-form button:hover {
    background-color: #0056b3;
}

.contact-form {
    padding: 20px;  
    border: 1px solid #ccc;
    width: 100%;
    min-height: 576px;
    border-radius: 5px;
    margin-top: 10px;
    background: rgb(3,4,94);
    background: linear-gradient(180deg, rgba(3,4,94,1) 0%, rgba(0,180,216,1) 50%, rgba(202,240,248,1) 100%);
    box-shadow: 0px 6px 8px grey;
}

  
.contact-form .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    border: 1px grey;
    background-color: #CAF0F8;
    border-radius: 8px;
    box-shadow: 0px 6px 8px grey;
}
  
.contact-form .form-control {
    width: 460px;
}
  
.contact-form .form-label {
    font-weight: bold;
}
  
.contact-form .btn-primary {
    width: 25%;
    background-color: #020461;
    color: #FFFFF7;
    border: none;
    font-weight: bolder;
}

.link-popup {
    position: relative;
}
  
.link-tooltip {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #001F3F;
    color: #FFFFF7;
    font-weight: bolder;
    border: 1px grey;
    border-radius: 5px;
    box-shadow: 0px 2px 4px grey;
    z-index: 1;
    display: none;
}
  
.link-popup:hover .link-tooltip {
    display: block;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
}
  
.modal-title {
    font-size: 24px;
    margin-bottom: 10px;
}
  
.modal-body {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}
  
.modal-footer {
    display: flex;
    justify-content: center;
}
  
.modal-footer button {
    padding: 8px 20px;
    font-size: 16px;
    background-color: #001F3F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modaldes{
    margin-top: 200px;
}

.modaldes2{
    margin-top: 200px;
}

.modal-footer button:hover {
    background-color: #0056b3;
}


@media (min-width: 250px) and (max-width: 576px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
        z-index: 1;
    }
  
    .nav-links.open {
        display: flex;
    }
  
    .nav-links li {
        padding: 1rem 2rem;
        width: 100%;
        text-align: center;
    }
  
    .nav-toggle {
        position: absolute;
        margin-top: 10px;
        top: 0.9rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 24px;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 2;
        background-color: #fff;
    }
  
    .nav-toggle span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #333;
        transition: all 0.3s ease-in-out;
    }
  
    .nav-toggle.open span:nth-child(2) {
        opacity: 0;
    }
  
    .nav-toggle.open span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }
  
    .nav-toggle.open span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
    
    .navbar-logo{
        width: 60px;
        height: auto;
        margin-right: 1rem;
        border: 2px solid #0056b3;
        border-radius: 15px;
    }

    .user-auth{
        position: relative;
        right: 35px
    }

    .py-4{
        background-color: #001F3F;
        color: #D4AF37;
        height: 80vh;
    }
    .logo-text{
        margin-left: 53px;
    }

    .centerdes2{
        margin-left: 40px;
    }
}

@media (max-width: 464px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
        z-index: 1;
    }
  
    .nav-links.open {
        display: flex;
    }
  
    .nav-links li {
        padding: 1rem 2rem;
        width: 100%;
        text-align: center;
    }
  
    .nav-toggle {
        position: absolute;
        margin-top: 10px;
        top: 0.9rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 24px;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 2;
        background-color: #fff;
    }
  
    .nav-toggle span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #333;
        transition: all 0.3s ease-in-out;
    }
  
    .nav-toggle.open span:nth-child(2) {
        opacity: 0;
    }
  
    .nav-toggle.open span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }
  
    .nav-toggle.open span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
    
    .navbar-logo{
        width: 60px;
        height: auto;
        margin-right: 1rem;
        border: 2px solid #0056b3;
        border-radius: 15px;
    }

    .user-auth{
        position: relative;
        right: 35px
    }

    .py-4{
        background-color: #001F3F;
        color: #D4AF37;
        height: 80vh;
    }
    .logo-text{
        margin-left: 53px;
    }

    .centerdes2{
        margin-left: 40px;
    }
}

@media (max-width: 648px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
        z-index: 1;
    }
  
    .nav-links.open {
        display: flex;
    }
  
    .nav-links li {
        padding: 1rem 2rem;
        width: 100%;
        text-align: center;
    }
  
    .nav-toggle {
        position: absolute;
        margin-top: 10px;
        top: 0.9rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 24px;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 2;
        background-color: #fff;
    }
  
    .nav-toggle span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #333;
        transition: all 0.3s ease-in-out;
    }
  
    .nav-toggle.open span:nth-child(2) {
        opacity: 0;
    }
  
    .nav-toggle.open span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }
  
    .nav-toggle.open span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
    
    .navbar-logo{
        width: 60px;
        height: auto;
        margin-right: 1rem;
        border: 2px solid #0056b3;
        border-radius: 15px;
    }

    .user-auth{
        position: relative;
        right: 35px
    }

    .py-4{
        background-color: #001F3F;
        color: #D4AF37;
        height: 80vh;
    }
    .logo-text{
        margin-left: 53px;
    }

    .centerdes2{
        margin-left: 40px;
    }
}

@media (min-width: 649px) and (max-width: 768px) {
    .navbar-logo{
        width: 60px;
        height: auto;
        margin-right: 1rem;
        border: 2px solid #0056b3;
        border-radius: 15px;

    }
      .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FFFFF7;
        height: 10vh;
        font-size: 18px;
        box-shadow: 0px 6px 8px grey;
    }
    
    .nav-links {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #navdes a{
        position: relative;
        top: 8.5px;
        margin-left: 10px;
        padding: 0;
    }

    .nav-toggle {
        display: none;
    }

  
}
    
@media (min-width: 769px) and (max-width: 992px) {
    .navbar-logo{
        width: 60px;
        height: auto;
        margin-right: 1rem;
        border: 2px solid #0056b3;
        border-radius: 15px;

    }
      .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FFFFF7;
        height: 10vh;
        font-size: 18px;
        box-shadow: 0px 6px 8px grey;
    }
    
    .nav-links {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #navdes a{
        position: relative;
        top: 8.5px;
        margin-left: 10px;
        padding: 0;
    }

    .nav-toggle {
        display: none;
    }
}
  
.loader-effect {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .loader-effect:after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear 2;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  
    